# PORT CONFIGURATION
PORT=8080

# DATABASE CONFIGURATION
DATABASE_PASSWORD=DATABASE_PASSWORD
DATABASE_URL=postgresql://postgres.projectID:${DATABASE_PASSWORD}@db-host:db-port/postgres

# R2 CONFIGURATION
R2_ACCOUNT_ID=R2_ACCOUNT_ID
R2_ACCESS_KEY_ID=R2_ACCESS_KEY_ID
R2_SECRET_ACCESS_KEY=R2_SECRET_ACCESS_KEY
R2_BUCKET_NAME=R2_BUCKET_NAME
R2_PUBLIC_URL=R2_PUBLIC_URL